<div class="container-tg4">
  <!--Inicio do cabeçalho-->
  <header>
    <nav class="navbar navbar-expand-lg pb-4 pt-4 navbar-dark navbar-color">
      <div class="container">
        <a href="#" class="navbar-brand"> TG4 FRONTEND </a>
        <button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#nav-principal"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav-principal">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!--Fim do cabeçalho-->

  <section id="home" class="background-green">
    <!--Inicio da seção-->

    <div class="container">
      <div class="row pb-5">
        <div class="col mx-auto text-center mt-5 mb-5">
          <!--Imagem da seção-->
          <img
            class="img-responsive avatar-img"
            src="../assets/img/avataaars.svg"
          />

          <h1 class="mt-5 mb-5 text-white">TG4 FRONTEND</h1>
          <span class="text-white"
            >Cotação dólar: {{ dollarAtual.high }} ({{
              dollarAtual.create_date
            }})</span
          >

          <div class="d-flex justify-content-center">
            <div class="lines-white text-center">
              <div class="line"></div>

              <i class="fa-solid fa-star mr-2 ml-2"></i>

              <div class="line"></div>
            </div>
          </div>

          <span class="text-white"></span>
        </div>
      </div>
    </div>
  </section>
  <!--FIM DA SEÇÃO HOME-->

  <!--Inicio da seção-->
  <section id="portfolio" class="mt-5 mb-5">
    <div class="container text-center">
      <h1>PORTFOLIO</h1>

      <div class="d-flex justify-content-center">
        <div class="lines text-center">
          <div class="line"></div>

          <i class="fa-solid fa-star mr-2 ml-2"></i>

          <div class="line"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mt-5">
          <img
            src="../assets/img/portfolio/cabin.png"
            class="img-fluid rounded"
          />
        </div>
        <div class="col-md-4 mt-5">
          <img
            src="../assets/img/portfolio/cake.png"
            class="img-fluid rounded"
          />
        </div>

        <div class="col-md-4 mt-5">
          <img
            src="../assets/img/portfolio/circus.png"
            class="img-fluid rounded"
          />
        </div>
        <div class="col-md-4 mt-5">
          <img
            src="../assets/img/portfolio/game.png"
            class="img-fluid rounded"
          />
        </div>
        <div class="col-md-4 mt-5">
          <img
            src="../assets/img/portfolio/safe.png"
            class="img-fluid rounded"
          />
        </div>
        <div class="col-md-4 mt-5">
          <img
            src="../assets/img/portfolio/submarine.png"
            class="img-fluid rounded"
          />
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="background-green text-white pb-5 pt-5">
    <!--Inicio da seção-->
    <div>
      <h1 class="text-center text-white">ABOUT</h1>

      <div class="d-flex justify-content-center">
        <div class="lines-white text-center">
          <div class="line"></div>

          <i class="fa-solid fa-star mr-2 ml-2"></i>

          <div class="line"></div>
        </div>
      </div>

      <div class="container">
        <div class="row pr-4 pl-4">
          <div class="col-md-6 mt-5">
            <span class="text-white"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
              eius porro a sed repellat amet, similique, perferendisLorem ipsum
              dolor sit amet consectetur adipisicing elit. Earum eius porro a
              sed repellat amet, similique, perferendis harum nulla illo aliquam
              culpa veniam alias,Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Earum eius porro a sed repellat amet, similique,
              perferendis harum nulla illo aliquam culpa veniam alias,Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Earum eius
              porro a sed repellat amet, similique, perferendis harum nulla illo
              aliquam culpa veniam alias, harum nulla illo aliquam culpa veniam
              alias, sunt ea maiores repellendus dignissimos ducimus!</span
            >
          </div>
          <div class="col-md-6 mt-5">
            <span class="text-white"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
              eius porro a sed repellat amet, similique, perferendisLorem ipsum
              dolor sit amet consectetur adipisicing elit. Earum eius porro a
              sed repellat amet, similique, perferendis harum nulla illo aliquam
              culpa veniam alias,Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Earum eius porro a sed repellat amet, similique,
              perferendis harum nulla illo aliquam culpa veniam alias,Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Earum eius
              porro a sed repellat amet, similique, perferendis harum nulla illo
              aliquam culpa veniam alias, harum nulla illo aliquam culpa veniam
              alias, sunt ea maiores repellendus dignissimos ducimus!</span
            >
          </div>
        </div>
      </div>
      <div class="text-center mt-3">
        <a class="btn btn-outline-light" href="#contact">
          <i class="fa-solid mr-2 fa-download"></i>
          Contate-nos!
        </a>
      </div>
    </div>
  </section>
  <!--FIM DA SEÇÃO -->

  <section id="contact" class="pb-5 pt-5">
    <!--Inicio da seção-->
    <div>
      <h1 class="text-center">CONTATE NOS</h1>
      <div class="d-flex justify-content-center">
        <div class="lines text-center">
          <div class="line"></div>

          <i class="fa-solid fa-star mr-2 ml-2"></i>

          <div class="line"></div>
        </div>
      </div>

      <!-- contact form -->
      <div class="container mt-5 col-md-6">
        <form class="pt-5">
          <!-- Name -->
          <div class="form-group label-floating">
            <label class="control-label" for="name">Nome Completo</label>
            <input class="form-control" id="name" type="text" name="name" />
            <div class="help-block with-errors"></div>
          </div>
          <!-- email -->
          <div class="form-group label-floating">
            <label class="control-label" for="email">Email</label>
            <input class="form-control" id="email" type="email" name="email" />
          </div>
          <!-- telefone -->
          <div class="form-group label-floating">
            <label class="control-label">Telefone</label>
            <input
              class="form-control"
              id="telefone"
              type="text"
              name="telefone"
            />
          </div>
          <!-- Message -->
          <div class="form-group label-floating">
            <label for="message" class="control-label">Mensagem</label>
            <textarea
              class="form-control"
              rows="3"
              id="message"
              name="message"
            ></textarea>
          </div>

          <!-- Form Submit -->
          <div class="form-submit mt-5">
            <button class="btn btn-primary" type="submit" id="form-submit">
              Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!--FIM DA SEÇÃO-->

  <footer class="pt-3">
    <div class="row text-center pt-4 pb-5">
      <div class="col-md-4 mt-4">
        <h4>Endereço</h4>
        <span
          >Shopping Citta America <br />
          Barra da Tijuca, Rio de Janeiro</span
        >
      </div>
      <div class="social col-md-4 mt-4">
        <h4>Nossas Redes</h4>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin-in"></i>
        <i class="fa-brands fa-dribbble"></i>
      </div>
      <div class="sobre col-md-4 mt-4">
        <h4>Sobre nós</h4>
        <span>
          TG4 existe para te auxiliar automatizar <br />
          os processos mais complexos de sua empresa <br />
          <a class="a-link" href="">Comece agora</a>.
        </span>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">
      Copyright © Your Website 2021
    </div>
  </footer>
</div>
